:root{

    --bg:#f5f7fb;
    --card:#ffffff;
    --text:#222;
    --primary:#0ea5e9;
    --border:#ddd;
}
body[data-theme="dark"]{

    --bg:#0f172a;
    --card:#1e293b;
    --text:#fff;
    --primary:#38bdf8;
    --border:#334155;
}